<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" >
      <a class="navbar-brand" href="#" routerLink="/">
        {{ title }}
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li>
          <a href="#"class="" routerLink="/jobs">offres</a>
        </li>
        <li>
          <a href="#"class="" routerLink="/jobs/add">créer une offre</a>
        </li>
        <li>
          <a href="#"class="" routerLink="/about">à propos</a>
        </li>
        <li *ngIf="!authService.userIsLoggedIn()">
          <a href="#" class="" routerLink="/login">se connecter</a>
        </li>
        <li *ngIf="authService.userIsLoggedIn()">
          <a href="#" class="" routerLink="/profile">mon profile</a>
        </li>         
        <li *ngIf="authService.userIsLoggedIn()">
          <a href="#" class="" (click)="authService.logOut()">se déconnecter</a>
        </li>        
        <li *ngIf="!authService.userIsLoggedIn()">
          <a href="#" class="" routerLink="/register">créer un compte</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>

  
<router-outlet></router-outlet>
